body{
    background-image: url(https://static-cse.canva.com/blob/142372/Patterns-3-03.jpg);
}

.active1 {
    background-color: #bcbcbc;
}
.active{
    font-size: x-large;

    padding: 10px 10px 10px 10px;
}
.nav-link{
    font-size: x-large;

    padding: 10px 10px 10px 10px;  
}

.text {
    border: solid white 3pt ;
    border-radius: 10px;
    background-color: white;
    padding: 2vw;
    font-size: 2vw;
    font-family: serif, times;

    min-width: 60px;
    margin-top: 10px;
    text-align: center;
}
.text2 {
    border: solid white 3pt ;
    border-radius: 10px;
    background-color: white;
    padding: 2vw;
    font-size: 3vw;
    font-family: serif, times;
    text-align: center;
}
.car2{
    width:32vw ;
    height: 45vw ;
    border: solid white 3pt;
    border-radius: 10px;
}

.card-title{
    font-size: 1.25vw;
}

.card-text{
    font-size: .9vw;

}

.btn{
    font-size: 1vw;
}
